{% extends 'base.j2'%}

{% block header %}
<h1>{% block title %}Test{% endblock %}</h1>
{% endblock %}

{% block content %}
<ul>
	{% for item in item_list %}
	<li><a href="{{url_for_item(item)}}">{{url_for_item(item)[1:]}}</a></li>
	{% endfor %}
</ul>
{% endblock %}